<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SCEP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <SCEP.My.MySettings>
            <setting name="SCEPEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SCEPStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SCEPProfiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SCEPInvites" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SCEPTrades" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SCEPMinimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SCEPLockTrades" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SCEPTradeTf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SCEPWebProtect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SCEPSteamOnly" serializeAs="String">
                <value>False</value>
            </setting>
        </SCEP.My.MySettings>
    </userSettings>
</configuration>
